EXPO_PUBLIC_SUPABASE_URL= sb_publishable_h7GuRMLRJBCm8m0OWAjUEg_DzCEE3QV
EXPO_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdjbndoYW12aXJxdGtpcGV5Z2dtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2OTY5MzAsImV4cCI6MjEwMjI3MjkzMH0.Z5mvCfT28R62HScPhd0SQMPzxpST83kgsB_2_xEloK0
